extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/alert.pug
include ../../mixins/table-tree.pug

block main 
  +alert-success(5000)
  +alert-error(5000)

  if(role.permissions.includes("products-category_view"))
    h1 Trang danh mục sản phấm

    .card.mb-3
      .card-header Bộ lọc và Tìm kiếm
      .card-body
        .row
          .col-6
            +filter-status(filterStatus)
          .col-6
            +search(keyword)
    .card.mb-3
      .card-header Danh sách
      .card-body
        .row 
          .col-8 
          .col-4
            if(role.permissions.includes("products-category_create"))
              a(
                href=`${prefitAdmin}/products-category/create`
                class ="btn btn-outline-success"
              ) + thêm mới

        table(
          class="table table-hover table-sm mt-3"
          checkbox-multi
        )
          thead
            tr
              th 
                input(type="checkbox" name="checkall")
              th STT
              th Hình ảnh
              th Tiêu đề
              th Vị trí
              th Trạng thái 
              th Hành động

          tbody
            +table-tree(records)

    //- +pagination(pagination)

    script(src="/admin/js/product.js")