extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/product-item.pug

block main
  
  .container.my-3
    .row
      .col-12
        +box-head("Thông tin tài khoản")

    
    div #{user}